<footer id="footer" style="bottom: 0px; bottom: 0; width: 100%;">
    <div class="container_footer">
        <div>
            <a href="https://twitter.com/bootswatch">Twitter</a>
        </div>
        <div class="link_footer">
            <div class="git_link">

                <div class="name">
                    <a href="https://github.com/tchanque"><i class="bi bi-github"></i></a>
                    <p>Thomas Audevie</p>
                </div>
                <div class="name">
                    <a href="https://github.com/Marcaraph"><i class="bi bi-github"></i></a>
                    <p>Raphaël Marcarini</p>
                </div>
                <div class="name">
                    <a href="https://github.com/Damien-Generet"><i class="bi bi-github"></i></a>
                    <p>Damien Generet</p>
                </div>

            </div>
            <div>
                <p>Made in THP © 2024.</p>
            </div>
        </div>
        <div>
            <a href="#top">Back to top</a>
        </div>
    </div>
</footer>